{% extends "base.html" %}
{% block content %}
    <h2>Discovered masters</h2>
    <div><a href="javascript:update('#update');">Update</a></div>
    <p><strong><span id="update">{{ masters }}</span></strong></p>
    {% for master, master_data in masters.items() %}
        <!-- Master grid-->
        <div class="row">
            <div  class="col-md-7">
                <h3>{{ master }}</h3>
                <div class="row">
                    <div  class="col-md-4">
                        <p>Master Node:</p>
                        <p>{{ master_data.master }}</p>
                    </div>
                </div>
                <div class="row">
                    <p>Slaves:</p>
                    {% for slave_name, slave_data in master_data.slaves.items() %}
                    <div  class="col-md-4">
                        <p>{{ slave_data }}</p>
                    </div>
                   {% endfor %}
                </div>
    			<div class="row">
                    <p>Sentinels:</p>
                    {% for sentinel_name, sentinel_data in master_data.sentinels.items() %}
                    <div  class="col-md-4">
                        <p>{{ sentinel_data }}</p>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}