{% block masters_data %}
<!-- Masters information-->
<h2>Discovered masters</h2>
  <!-- Master grid-->
  <div class="row">
  {% for master in manager.masters %}

    <div  class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><strong>{{ master.unique_name }}</strong>
          <span class="label {% if master.is_healthy() %}label-success{% endif %}{% if master.is_degraded() %}label-warning{% endif %}{% if master.is_down() %}label-danger{% endif %}">{{ master.get_health() }}</span>
          </div>
        </div>
        <!-- Master node -->
        <div class="panel-body">
          <div class="list-group">
            <div class="list-group-item {% if master.master_node.is_healthy() %}list-group-item-success{% endif %}{% if master.master_node.is_down() %}list-group-item-danger{% endif %}">
                <strong>Master Node</strong>
            </div>
            <div class="list-group-item {% if master.master_node.is_down() %}list-group-item-danger{% endif %}">
                <p>{{ master.master_node.hostname }} ({{ master.master_node.unique_name }})</p>
            </div>
          </div>

          <!-- Slaves -->
          <div class="list-group">
            <div class="list-group-item {% if master.slaves.is_healthy() %}list-group-item-success{% endif %}{% if master.slaves.is_degraded() %}list-group-item-warning{% endif %}{% if master.slaves.is_down() %}list-group-item-danger{% endif %}">
              <strong>Slaves</strong>
              <span class="badge">{{ master.slaves|length }}</span>
            </div>
            {% for slave in master.slaves %}
            <div class="list-group-item {% if slave.is_down() %}list-group-item-danger{% endif %}">
              <p>{{ slave.hostname }} ({{ slave.unique_name }})</p>
            </div>
            {% endfor %}  
          </div>
          

          <!-- Sentinels -->
          <div class="list-group">
            <div class="list-group-item {% if master.sentinels.is_healthy() %}list-group-item-success{% endif %}{% if master.sentinels.is_degraded() %}list-group-item-warning{% endif %}{% if master.sentinels.is_down() %}list-group-item-danger{% endif %}">
              <strong>Sentinels</strong>
              <span class="badge">{{ master.sentinels|length }}</span>
            </div>
            {% for sentinel in master.sentinels %}
            <div class="list-group-item {% if sentinel.is_down() %}list-group-item-danger{% endif %}">
              <p>{{ sentinel.hostname }} ({{ sentinel.unique_name }})</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
{% endblock masters_data %}